- if user.following.present?
  .followees
    - user.following.each do |followee|
      .followee
        = link_to followee do
          .avatar= image_tag followee.avatar.list.url, alt: followee
          .name= followee
- else
  %p Nobody!

