- if user.followers.present?
  .followers
    - user.followers.each do
      .follower
        = link_to follower do
          .avatar= image_tag follower.avatar.list.url, alt: follower
          .name= follower
- else
  %p Nobody!
