.user
  = link_to current_user, current_user
.followers
  %output= current_user.followers.count
  followers
.following
  %output= current_user.following.count
  following
.tweets
  %output= current_user.tweets.count
  tweets

