= extends "timeline/show" do
  - prepend :content do
    %h1= user
    = render partial: "users/nav", object: user, as: "user"
  - append :sidebar do
    = render partial: "users/sidebar", object: user, as: "user"
