@import bootstrap
@import "**/*"

body
  padding-top: 50px

.clearfix
  zoom: 1
  &:before, &:after
    display: table
    content: ""
    zoom: 1
  &:after
    clear: both

form .input.check_box label
  display: inline
  float: none

footer
  padding: 10px 0

.compose a
  display: block
  background: image_url("compose.png") no-repeat 50% 50%
  text-indent: -9999em
  width: 16px
  opacity: 0.75
  -webkit-transition: linear 0.2s opacity
  transition: linear 0.2s opacity

  &:hover, &.active
    opacity: 1.0
    background-color: none

