body.followers .follower, body.followees .followee
  clear: both
  position: relative
  padding-left: 10px + 48px
  .avatar
    position: relative
    float: left
    margin-left: -58px
  .name
    float: left
    line-height: 48px
  .follow, .unfollow
    float: right
    line-height: 48px

div.followers .follower, div.followees .followee
  &:not(:first-of-type)
    margin-top: 10px
    border-top: 1px solid #eee
    padding-top: 10px
