body.followers .follower, body.followees .followee
  position: relative
  padding-left: 10px + 48px
  .avatar
    position: relative
    float: left
    margin-left: -58px
  .name
    line-height: 48px

