.tweets
  .tweet:not(:first-of-type)
    margin-top: 10px
    border-top: 1px solid #eee
    padding-top: 10px

.tweet
  position: relative
  padding-left: 10px + 48px
  &, p, a
    font-size: 15px
    line-height: 19px
  .avatar
    position: absolute
    margin-left: -58px
  .username
    font-weight: bold
    float: left
  .name
    float: left
    margin-left: 0.5em
    font-size: 85%
    color: #666
  .text
    clear: left
    .mention
      color: #ccc
    p:last-of-type
      margin: 0
    a
      display: inline-block
      white-space: preserve
      text-overflow: ellipsis
      overflow: hidden
      max-width: 580px - 58px
  .created_at, .reply_to, .reply, .destroy
    display: block
    float: left
  .bottom
    color: #666
    font-size: 12px
    a
      font-size: 12px
  .reply_to:before
    // An escaped, non-breaking space
    content: '\a0 '
  .reply, .destroy
    display: none
    padding-left: 10px
  &:not(:hover)
    .username a
      color: inherit
    .bottom a
      color: #666
  &:hover
    .reply, .destroy
      display: block

#new_tweet
  #tweet_text
    display: block
    box-sizing: border-box
    width: 100%
    height: 18px + 4px * 2
    -webkit-transition: height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s
    -moz-transition: height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s
    transition: height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s
    overflow: hidden
  .hide-show
    float: right
    margin-top: 10px
  .chars-left
    display: inline-block
    color: #999
    padding-right: 1em
    font-size: 18px
    font-weight: bold
    line-height: 36px
    vertical-align: middle
    &.over
      color: red
  &.expanded, .tweets-new &
    #tweet_text
      height: 3 * 18px + 4px * 2
      overflow: scroll
    .hide-show
      display: block

