div.tweets
  .tweet:not(:first-of-type)
    margin-top: 10px
    border-top: 1px solid #eee
    padding-top: 10px

.tweet
  position: relative
  padding-left: 10px + 48px
  .avatar
    position: relative
    float: left
    margin-left: -58px
  .text
    .mention
      color: #ccc
  .created_at, .reply_to, .reply, .destroy
    display: block
    float: left
  .bottom
    color: #666
    font-size: 85%
    a
      color: #666
  .reply_to:before
    // An escaped, non-breaking space
    content: '\a0 '
  .reply, .destroy
    display: none
    padding-left: 10px
  &:hover
    .reply, .destroy
      display: block

#new_tweet
  #tweet_text
    display: block
    box-sizing: border-box
    width: 100%
    height: 18px + 4px * 2
    -webkit-transition: height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s
    -moz-transition: height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s
    transition: height linear 0.2s, border linear 0.2s, box-shadow linear 0.2s
    overflow: hidden
  .hide-show
    float: right
    margin-top: 10px
  .chars-left
    display: inline-block
    color: #999
    padding-right: 1em
    font-size: 18px
    font-weight: bold
    line-height: 36px
    vertical-align: middle
    &.over
      color: red
  &.expanded, .tweets-new &
    #tweet_text
      height: 3 * 18px + 4px * 2
      overflow: scroll
    .hide-show
      display: block

