
.content
  .user
    display: block
    position: relative
    padding-left: 128px + 10px
    .avatar
      position: relative
      float: left
      margin-left: -128px - 10px
    hgroup
      h1, h2
        display: block
        margin: 0
  .user_tabs
    clear: both
    padding-top: 10px

.sidebar
  .user
    position: relative
    padding-left: 10px + 48px
    &:not(.with-name)
      line-height: 48px
    .avatar
      position: relative
      float: left
      margin-left: -48px - 10px
      img
        vertical-align: middle
    .name
      color: #666
      margin-top: 6px
    .username
      font-size: 15px
  .biography
    margin-top: 1em
    font: italic 13px/18px Georgia, Palatino, serif
    color: #666
    p:last-of-type
      margin-bottom: 0
  .stats
    margin-top: 1em

form.edit_user
  .biography textarea
    display: block
    box-sizing: border-box
    width: 100%
    height: 3 * 18px + 4px * 2

