body.user-timelines-show, body.mentions-index, body.followees-index, body.followers-index
  .content
    h1
      float: left
      .name
        color: #999
.user_actions
  float: right
  line-height: 36px
.user_tabs
  clear: both
  margin-top: 10px

.sidebar .user
  line-height: 48px
  a, .name
    float: left
  .name
    margin-left: 0.5em
